body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  /* background: linear-gradient(90deg,#ffffff 0%, #545454 200%);
  background: -webkit-linear-gradient(90deg,#ffffff 0%, #545454 200%);
  background: -moz-linear-gradient(90deg,#ffffff 0%, #545454 200%); */
}

.main {
  width: 100%;
  height: 100dvh;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 1rem;
  background: linear-gradient(270deg, #2C90F8 24.33%, #1A5592 122.29%);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.46);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.46);
}

.logo-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.8rem 1.5rem 0.5rem 1.5rem;
}

.content {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.text-container {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
  color: white;
}

.text-container h1 {
  font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.text-container p {
  font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

.form-container {
  width: 50%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}

.btn {
  width: 30%;
  height: 10%;
  background: #e82f05;
  background: linear-gradient(14deg,#e82f05 0%, #ffad33 80%);
  background: -webkit-linear-gradient(14deg,#e82f05 0%, #ffad33 80%);
  background: -moz-linear-gradient(14deg,#e82f05 0%, #ffad33 80%);
  text-decoration: none;
  color: #2752A5;
  color: white;
  font-family: Roboto, Inter, Sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 3rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.btn:hover {
  outline: 1px solid white;
  background: #ffad33;
}


@media screen and (min-width: 768px) {
  .content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      height: fit-content;
      margin: 0 auto;
      margin-top: 0.5rem;
      border-radius: 1rem;
      background: linear-gradient(270deg, #2C90F8 24.33%, #1A5592 122.29%);
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.46);
      -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.46);
      -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.46);
  }
  
  .logo-container {
      width: 20%;
      height: auto;
      padding: 0.8rem 0 0.5rem 1.5rem;
  }
  
  .content {
      width: 70%;
      height: auto;
      margin: 0 auto;
  }
  
  .text-container {
      width: 100%;
      height: auto;
      margin-bottom: 5rem;
      color: white;
  }
  
  .text-container h1 {
      font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
  }
  
  .text-container p {
      font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 1.5rem;
      text-align: justify;
  }
  
  .form-container {
      width: 50%;
      height: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      
  }
  
  .btn {
      width: 30%;
      height: 10%;
      background: #e82f05;
      background: linear-gradient(14deg,#e82f05 0%, #ffad33 80%);
      background: -webkit-linear-gradient(14deg,#e82f05 0%, #ffad33 80%);
      background: -moz-linear-gradient(14deg,#e82f05 0%, #ffad33 80%);
      text-decoration: none;
      color: #2752A5;
      color: white;
      font-family: Roboto, Inter, Sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 2rem 3rem;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      text-align: center;
      margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
  }
  
  .btn:hover {
      outline: 1px solid white;
      background: #ffad33;
  }
}